a { 
    color: black !important;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
body{
    font-family: 'Josefin Sans', sans-serif !important;
}
.wrapper{
    color: black;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.header1{
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 35%;
}
.headername{
    text-align: center;
    margin-left: 9%;
    padding-right: 18.5% !important;
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.about{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}
.footer{
    text-align: center;
}
.buttonghost{
    background: transparent;
	display: inline-block;
    border: 3px solid #d8d8d8;
    border-radius: 22px;
}
#Music{
    position: absolute; 
    bottom: 0; 
    right: 0; 
    width: 100px; 
    text-align:right;
}
.musich3{
	margin-right: 10%;
	margin-left: 10%;
}